.photograph-header {
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.card-profile {
    display: block;
}

.profile-card-title {
    margin: 0;
}

.profile-tagline {
    font-size: 18px;
    color: #525252;
}


/* medias */

.media-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.medias {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.media-container {
    width: 350px;

}

.media-container img,
.media-container video {
    object-fit: cover;
    width: 350px;
    height: 300px;
}

.card-content-like {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    color: var(--primary-bg-color);
}


.likes {
    padding: 5px;
}


/* Filter menu */

.filter {
    margin: 10px 100px;
}

.filter-menu {
    display: flex;
    position: relative;
    align-items: center;
    gap: 20px;
}

.label-filter {
    font-weight: 700;
}

/* dropdown */

.button-dropdown {
    width: 170px;
    border: none;
    height: 50px;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-dropdown i {
    padding-left: 10px;
}

.option {
    display: none;
}

.arrow {
    border: solid white;
    width: 85%;
    border-width: 0 1px 1px 0;
}

.dropdown {
    background-color: var(--primary-bg-color);
    width: 170px;
    position: absolute;
    left: 82px;
    top: 49px;
    border-radius: 0 0 5px 5px;
}

.dropdown-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.select-item {
    padding-left: 10px;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 100%;
    padding-left: 30px;
}

.hidden {
    display: none;
}


/* Modal photograph  */
.modal-img {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    color: #fff;
    z-index: 1;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
}

.modalContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-image-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.image-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.modalImg {
    width: 100%;
    height: 100%;
}

.modalTxt {
    margin-top: 1em;
    font-size: 22px;
    color: var(--primary-bg-color);
}

.image-button {
    color: var(--primary-bg-color);
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.close {
    position: absolute;
    color: var(--primary-bg-color);
    top: 1em;
    right: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
}

.modal-img.appear {
    opacity: 1;
    pointer-events: all;
}

.modal-img.appear .modalImg,
.modal-img.appear .modalTxt {
    animation: zoom 0.3s linear;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* Contact modal */


#contact_modal {
    display: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}

textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 25px;
}

form #your-message {
    width: 100%;
}


.formData[data-error]::after {
    content: attr(data-error);
    font-size: 14px;
    color: var(--primary-bg-color);
    display: block;
    text-align: left;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid var(--primary-bg-color);
}

/* total likes */

.total-likes {
    position: fixed;
    right: 36px;
    bottom: 0;
    background-color: var(--second-bg-color);
    border-radius: 5px;
}

.total-likes article {
    width: 380px;
    height: 90px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-likes-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.likes-and-icon{
    display: flex;
    align-items: center;
    gap: 5px;
}
