.photograph-header {
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.card-profile {
    display: block;
}

.profile-card-title {
    margin: 0;
}

.profile-tagline {
    font-size: 18px;
    color: #525252;
}


/* medias */

.media-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.medias {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}

.media-container {
    width: 350px;

}

.media-container img,
.media-container video {
    object-fit: cover;
    width: 350px;
    height: 300px;
}

.card-content-like {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    color: var(--primary-bg-color);
}


.likes {
    padding: 5px;
}


/* Filter menu */

.sort_by {
    display: flex;
    gap: 10px;
    margin-left: 100px;
    width: auto;
}

.sort_title {
    font-size: 1.2rem;
    font-weight: 900;
}

.dropdown {
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    list-style: none;
    padding: 0;
    position: relative;
    width: 150px;
    z-index: 1;
}
  
.fa-chevron-up {
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: transform 0.2s linear;
}
  
.fa-chevron-up.expanded {
    transform: rotate(-180deg);
}
  
.dropdown-list {
    background-color: #901C1C;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: max-height 0.5s cubic-bezier(0, 0, 0.38, 0.9), opacity 0.1s cubic-bezier(0, 0, 0.38, 0.9);
    width: 100%;
}
  
.dropdown-list-container {
    position: relative;
}
  
.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.dropdown-button-value {
    color: white;
    overflow: hidden;
    padding: 10px 0px;
    padding-left: 15px;
    text-overflow: ellipsis;
    transition: background-color 0.1s linear;
    white-space: nowrap;
}
  
.dropdown-button-value:hover, .dropdown-button-value:focus {
    background-color: rgba(244, 28, 28, 0.5);
    color: white;
}
  
  
#option-1::before, #option-2::before, #option-3::before{
    border: solid 1px white;
    content: '';
    position: absolute;
    left: 10%;
    margin-top: -10px;
    width: 80%;
    z-index: 4;
}
  
#dropdown-selected {
    color: white;
    font-family: Lato, sans-serif;
    max-width: 100%;
    overflow: hidden;
    padding: 10px 0px;
    padding-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
#dropdown__selected:focus {
    outline: 1px solid rgba(144, 28, 28, 0.5);
}
  
.option-3 {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
  
.open {
    max-height: 15rem;
    opacity: 1;
    overflow: auto;
}

.expanded {
    display: block;
}


/* Modal photograph  */
.modal-img {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    color: #fff;
    z-index: 1;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
}

.modalContent {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-image-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.image-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.modalImg {
    width: 100%;
    height: 100%;
}

.modalTxt {
    margin-top: 1em;
    font-size: 22px;
    color: var(--primary-bg-color);
}

.image-button {
    color: var(--primary-bg-color);
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.close {
    position: absolute;
    color: var(--primary-bg-color);
    top: 1em;
    right: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
}

.modal-img.appear {
    opacity: 1;
    pointer-events: all;
}

.modal-img.appear .modalImg,
.modal-img.appear .modalTxt {
    animation: zoom 0.3s linear;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* Contact modal */

.modal-section {
    display: none;
}

#contact_modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    max-height: calc(95vh - 120px);
    overflow-y: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    align-items: start;
}

.modal header img {
    cursor: pointer;
    margin-top: 10px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: start;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}

textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 25px;
}

form #textarea {
    width: 100%;
}


/* total likes */

.total-likes {
    position: fixed;
    right: 36px;
    bottom: 0;
    background-color: var(--second-bg-color);
    border-radius: 5px;
}

.total-likes article {
    width: 380px;
    height: 90px;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total-likes-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.likes-and-icon{
    display: flex;
    align-items: center;
    gap: 5px;
}
