@import url("photographer.css");

:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --primary-font-color: #D3573C;
    --primary-bg-color: #901C1C;
    --second-bg-color: #DB8876;
    --primary-border-color: #C4C4C4;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

.card-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    height: 350px;
}

.profile-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.profile-img-big {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: none;
    object-fit: cover;
    box-shadow: 0 2px 5px var(--primary-border-color);
}

.profile-card-title {
    text-transform: capitalize;
    color: var(--primary-font-color);
    font-weight: 400;
    font-size: 36px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 13%;
}

.profile-loc-text {
    text-transform: capitalize;
    color: var(--primary-font-color);
    font-size: 13px;
}

.profile-tagline {
    font-size: 10px;
}

.profile-price {
    text-transform: capitalize;
    font-size: 9px;
    color: var(--primary-border-color);
}
